@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-matte-black text-neon-white min-h-screen font-sans antialiased;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-matte-black;
}

::-webkit-scrollbar-thumb {
  @apply bg-dark-gray rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-neon-accent;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-out forwards;
}

.animate-fade-in-up {
  animation: fade-in-up 0.6s ease-out forwards;
  opacity: 0;
  /* Start hidden */
}

.perspective-1000 {
  perspective: 1000px;
}